*{
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
}
body{
  background: #13001a;
}

section{
  margin-bottom: 60px;
}
.menu{
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  padding: 30px;
  background-color: #152F4F;
}
.menu a{
  text-decoration: none;
  color: white;
}
.menu nav a:hover{
  color: dodgerblue;
}
.menu nav{
  display: flex;
  justify-content: space-around;
  width: 400px
}


@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

.start{
  margin-top: 3%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-family: helvetica, sans-serif;

}
.end{
  display: flex;
  justify-content: center;
  font-family: helvetica, sans-serif;
  margin-bottom: : 10%;
  font-size: 20px;
}

.projekter{
  display: flex;
  font-family: helvetica, sans-serif;
  margin-top: 10%;
  margin-left: 12%;
  font-size: 30%;
  font-style: bold;
}

.image-links{
  display: flex;
  justify-content: center;

}
.image-links img{
  width: 320px;
}
.infobox{
  position: relative;
  display: flex;
  margin: 1em;
}
.infotext{
  position: absolute;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items:center;
  width:320px;
  height: 100%;
  background: rgba(00, 00, 00, 0.8);
  color: white;
  font-size: 1.2em;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;

}
.infobox:hover .infotext{
  visibility: visible;
  opacity: 5;
}
